* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', Helvetica, sans-serif;
    justify-content: center;
    align-items: center;
}

.app {
    background: linear-gradient(#e66465, #9198e5);
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-flow: column;
    overflow-x: hidden;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
}

h1 {
    color: white;
}

.btn {
    display: inline-block;
    padding: 5px 12px;
    position: absolute;
    right: 15px;
    height: 1.1cm;
    width: 5cm;

    font-size: 16px;
    font-weight: 2000;
    text-align: center;
    vertical-align: middle;
    letter-spacing: 0.8px;
    color: white;
    text-align: right;

    border: 10px black white;
    border-radius: 6px;
    background-color: #4955D4;

    -ms-touch-action: manipulation;
    touch-action: manipulation;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
}

img {
    display: inline-block;
    margin-top: 2px;
    margin-bottom: 6px;
    margin-right: 10px;
    margin-left: 2px;
}

.btn:hover {
    background-color: #8B93E4;
}

p {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 7px;
    color: #e66465;
    overflow-x: hidden;
}

p:hover {
    color: #ced4da;
    transition-delay: 10ms;
}

#searchBox {
    height: 5%;
    width: 15%;
    background-image: url("zoom.png");
    background-size: 10%;
    background-position: 10%;
    background-repeat: no-repeat;
    font-size: 14px;
    text-align: center;
    /* padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    border-radius: 6px;
    /*margin-bottom: 12px; /* Add some space below the input */
    position: flex;
    flex-direction: column;
}

#myUL {
    /* Remove default list styling */
    list-style-type: none;
  }
    
#leftColumn {
    display: inline-block;
    vertical-align: middle;
    align-items: center;
    padding-left: 5px;
}

.lists {
    display:flex;
    flex: 1;
    width: 100%;
    overflow-x: hidden;
}

.lists .cont1 {
    display: flex;
    flex: 1;
    flex-direction: row;
    border-radius: 6px;
    color: #f5f3f4;
    position: absolute;
    justify-content: space-around;

    width: 81%;
    height: 50%;
    min-height: 200px;
    max-height: 300px;

    top: 11%;
    right: 15px;
    
    margin: 0 4px;
    padding: 8px;
    transition: all 0.2s linear;
    overflow-x: hidden;
    overflow-y: hidden;
}

.lists .cont2 {
    display: flex;
    flex: 1;
    flex-direction: row;
    border-radius: 6px;
    color: #f5f3f4;
    position: absolute;
    justify-content: space-around;

    width: 81%;
    height: 50%;
    min-height: 200px;
    max-height: 300px;

    top: 54%;
    right: 15px;
    
    margin: 0 4px;
    padding: 8px;
    transition: all 0.2s linear;
    overflow-x: hidden;
    overflow-y: hidden;
}

.lists .cont1 .list {
    display: flex;
    flex-flow: column;
    flex: 1;
    border-radius: 6px;
    color: #f5f3f4;
    text-align: center;

    width: 100%;
    min-width: 200px;
    max-width: 200px;
    height: 100%;
    min-height: 200px;
    max-height: 300px;
    
    background-color: rgba(0, 0, 0, 0.1);
    margin: 0 5px;
    padding: 8px;
    transition: all 0.2s linear;
}

.lists .cont2 .list-down {
    display: flex;
    flex-flow: column;
    flex: 1;
    border-radius: 6px;
    color: #f5f3f4;
    text-align: center;

    width: 100%;
    min-width: 200px;
    max-width: 200px;
    height: 100%;
    min-height: 200px;
    max-height: 300px;
    
    background-color: rgba(0, 0, 0, 0.1);
    margin: 0 5px;
    padding: 8px;
    transition: all 0.2s linear;
}

.lists .pubList {
    display: flex;
    flex-flow: column;
    flex: 1;
    border-radius: 6px;
    color: #f5f3f4;

    width: 19%;
    min-width: 200px;
    max-width: 200px;
    height: 90%;
    min-height: 150px;
    
    background-color: rgba(0, 0, 0, 0.1);
    margin: 0 4px;
    padding: 7px;
    transition: all 0.2s linear;
    overflow: scroll;
    overflow-x: hidden;
}

.lists .cont1 .list .list-item, .lists .cont2 .list-down .list-item, .lists .pubList .list-item {
    background-color: #f3f3f3;
    border-radius: 8px;
    padding: 10px 15px;
    text-align: center;
    margin: 4px 0px;
    color: #14213d;
}